crewai
langchain
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
python-dotenv
fastapi
uvicorn
langchain-ollama
networkx
dbfread
supabase
pyjwt
cryptography
google-generativeai
google-genai
google-api-core>=2.11.0